body {
    margin: 100px;
    background-color: aquamarine;
    max-width: 500px;
    margin: auto;
    margin: auto;
    text-align: center;
}

#blockDiv {
    position: absolute;
    left: 50%;
    right: 50%;
    height: 100%;
    width: 100%;
	display: none;
    z-index: 999;
}

.wrapper {
    border-radius: 5px;
	display: grid;
	grid-gap: 10px;
  	grid-template-columns: repeat(4, 1fr);
	height:100px;
	width:100px;
}

.wrapper > div {
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    padding: 1em;
}


